{% extends 'layout/base.html' %}

{% block content %}
<div class="col-9">
    <h2 class="mt-3 p-3 border bg-light rounded">
        {% with results.count as total_results %}
            Найдено вопросов {{ total_results }}
        {% endwith %}
        <button onclick="location.href=('{% url 'questions:question_create' %}')" type="button" class="btn btn-success " data-mdb-ripple-color="dark">Ask</button>
    </h2>
    {% include 'layout/questions.html' with questions=results %}
</div>
<div class="col-3">
    <div class="position-fixed">
        <h2 class="mt-3 p-3 border text-light bg-secondary rounded text-center" style="max-width: 20rem;">
            {% with results.count as total_results %}
                Найдено тегов {{ total_results }}
            {% endwith %}
        </h2>
    </div>
</div>
{% endblock %}