{% extends "layout/nav_bar.html" %}

{% load static %}
{% load bootstrap5 %}

{% block content %}
  <h3 class="mt-5 text-uppercase">{{question.title}}</h3>
  <p><a href="{% url 'profiles:profile_detail' question.author.username %}" class="href">{{question.author}}</a></p>

  <form method="post" action="{% url 'questions:question_detail' question.pk question.slug %}">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add answer"></p>
   </form>
   

  {% with answers.count as total_answers %}
    <h2>
      {{ total_answers }} answer{{ total_answers|pluralize }}
    </h2>
  {% endwith %}

  {% for answer in answers %}
  <hr>
    <div class="comment">
      <p class="info">
        Дата публикации - {{answer.date_published}}
      </p>
      <p class="info">
        Автор - {{answer.author}}
      </p>
      {{ answer.content|linebreaks }}
      <form method="post" action="{% url 'questions:answer_like' answer.pk %}">
        {% csrf_token %}
        <p><input type="submit" value="Like"></p>
    </form>
    <form method="post" action="{% url 'questions:answer_dislike' answer.pk %}">
        {% csrf_token %}
        <p><input type="submit" value="Dislike"></p>
    </form>
    </div>
    {% empty %}
      <p>There are no comments.</p>
  </hr>
  {% endfor %}

  Схожие вопросы:
  {% for question in similar_questions %}
    <p>
      <a href="{{ question.get_absolute_url }}" class="href">{{ question.title }}</a>
    </p>
    {% empty %}
    There are no similar posts yet.
  {% endfor %}
{% endblock %}
