{% extends 'layout/base.html' %}
{% load questions_tags %}

{% block content %}
<div class="col-9">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <h3 class="mt-5 text-uppercase">{{question.title}}</h3>
  </div>
  <h3 class="mt-5 text-uppercase">{{question.title}}</h3>
  <p><a href="{% url 'profiles:profile_detail' question.author.username %}" class="href">{{question.author}}</a></p>
  <h5 class="mt-5 text-uppercase">Likes: {{question.pk|count_question_likes}}</h5>
  <h5 class="mt-5 text-uppercase">Dislikes: {{question.pk|count_question_dislikes}}</h5>

  {% include 'layout/answers.html' with answers=answers question=question %}

</div>

<div class="col-3">
  {% include 'layout/questions_side_menu.html' with questions=similar_questions %}
</div>
{% endblock %}
