{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap5 %}

{% block content %}
    {% if query %}
        <h1>Вопросы, содержащие {{ query }}</h1>
        <h3>
            {% with results.count as total_results %}
                Найдено вопросов {{ total_results }}
            {% endwith %}
        </h3>
        {% for question in results %}
        <h4>
            <a href="{{ question.get_absolute_url }}" class="href">
                {{ question.title }}
            </a>
        </h4>
        {% empty %}
        Вопросов нет
        {% endfor %}
        <p><a href="{% url 'questions:question_search'%}" class="href">Искать заново</a></p>
    {% else %}
     <h1>Найти вопрос</h1>
     <form method="get">
        {{ form.as_p }}
     </form>
    {% endif %}
{% endblock %}