<div class="card-footer py-3 border-0">
    <div class="d-flex flex-start w-100">

      <img class="rounded-circle shadow-1-strong me-3"
        src="{{request.user.profile.get_profile_image}}" alt="avatar" width="40"
        height="40" />

      <div class="form-outline w-100">

        <form action="{% url 'questions:question_detail' question.pk question.slug %}" method="post">
            {% csrf_token %}
            <textarea name="content" class="form-control" id="content" rows="4"
            style="background: #fff;" placeholder="Введите ответ..."></textarea>
            <div class="float-end mt-2 pt-1">
                <button type="submit" id="send-answer" class="btn btn-primary rounded btn-sm">Ответить</button>
            </div>
        </form>

      </div>
    </div>
</div>