
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'questions:home' %}">ASK</a>

    <form action="{% url 'questions:question_search' %}" class="input-group" style="width: 400px">
      <input name="query" type="search" class="form-control" placeholder="Найти вопрос..." aria-label="Search" />
      <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
        Поиск
      </button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'questions:popular_questions' %}">
            Популярные вопросы
          </a>
        </li>
        {% if request.user.is_authenticated %}
          <a
            class="nav-link d-flex align-items-center"
            href="{% url 'profiles:profile_detail' request.user.username %}"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{request.user.profile.get_profile_image}}"
              class="rounded-circle"
              height="30"
              width="30"
              alt=""
              loading="lazy"
            />
          </a>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Уведомления (<small id="notification-counter"></small>)
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'notifications:all' %}">Все уведомления</a></li>
              <li><a id="read-all" class="dropdown-item" href="">Прочитать все</a></li>
              <li id="push-notification-list" class="overflow-scroll" style="max-height: 300px;"></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user.username}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="{{ request.user.profile.get_absolute_url }}">Профиль</a></li>
              <li><a class="dropdown-item" href="{% url 'profiles:profile_edit' %}">Редактировать</a></li>
              <li><a class="dropdown-item" href="{% url 'users:password_change' %}">Сменить пароль</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
            </ul>
          </li>>
        {% else %}
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="{% url 'users:registration' %}"><span class="small">Зарегистрироваться</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="{% url 'users:login' %}"><span class="small">Войти</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
