
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'questions:home' %}">ASK</a>

    <form action="{% url 'questions:question_search' %}" class="input-group" style="width: 400px">
      <input name="query" type="search" class="form-control" placeholder="Найти вопрос..." aria-label="Search" />
      <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
        Поиск
      </button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
          <a
            class="nav-link d-flex align-items-center"
            href="{% url 'profiles:profile_detail' request.user.username %}"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
              class="rounded-circle"
              height="30"
              alt=""
              loading="lazy"
            />
          </a>
            
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="{% url 'profiles:profile_detail' request.user.username %}"><span class="small">Профиль</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="{% url 'users:logout' %}"><span class="small">Выйти</span></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="{% url 'users:registration' %}"><span class="small">Зарегистрироваться</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="{% url 'users:login' %}"><span class="small">Войти</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
