{% load questions_tags %}

{% for question in questions %}
<div class="row g-0 border bg-light rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-8 p-3 d-flex flex-column align-items-start bd-highlight mb-3">

        <div class="mb-auto d-flex flex-column bd-highlight" style="padding: .0rem .0rem .0rem 0.6rem ;">
            <h3 class="mb-1"><a href="{{ question.get_absolute_url }}" class="href">{{ question.title }}</a></h3>
            <div class="mb-1 text-muted">
                <div>Опубликовано - {{ question.date_published|date:"d-m-Y" }}</div>
            </div>
            <div class="d-flex flex-row">
                <p>
                    {{ question.content|truncatechars:170 }}
                </p>
            </div>
        </div>

        <div class="bd-highlight">

            {% include 'layout/votes.html' with obj=question type='question' %}

            <div class="d-flex flex-row justify-content-left">
                {% for tag in question.tags.all %}
                <div class="d-flex align-items-start" style="padding: .8rem .2rem .0rem .6rem;">
                    <form action="{% url 'questions:by_tag' tag.slug %}">
                        <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark" style="padding: .15rem .5rem .1rem; float: left;">
                            {{ tag.name }}
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="col-4 border bg-light">
        <div class="p-3 d-flex flex-column justify-content-center">
            <div class="p-2 d-flex justify-content-center">
                <img class="rounded-circle" src="{{question.author.profile.get_profile_image}}" alt="profile_image" width="200" height="200">
            </div>
            <a class="list-group-item list-group-item-action text-center rounded" href="{% url 'profiles:profile_detail' question.author.username %}">{{ question.author.username }}</a>
        </div>
    </div>

</div>

{% empty %}
Вопросов не найдено
{% endfor %}

{% include 'layout/pagination.html' with page=page_obj %}