{% extends 'layout/base.html' %}

{% block content %}

<div class="col-3"></div>

<div class="mt-3 mb-3 p-3 col-6 bg-light rounded border border-1 row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <h2 class="text-center">Регистрация</h2>
  <hr class="border border-2 border-primary">
  <form method="POST" action="{% url 'users:registration' %}">

    {% csrf_token %}

    <div class="row">
      <div class="col-md-6 mb-4">
        <label class="control-label">Имя</label>
        <input class="form-control" value="{{ form.first_name.value|default_if_none:'' }}" name="first_name" placeholder="" type="text">
        {% if 'first_name' in form.errors %}
            {% for error in form.first_name.errors %}
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
        {% endif %}
      </div>

      <div class="col-md-6 mb-4">
        <label class="control-label">Фамилия</label>
        <input class="form-control" value="{{ form.last_name.value|default_if_none:'' }}" name="last_name" placeholder="" type="text">
        {% if 'last_name' in form.errors %}
            {% for error in form.last_name.errors %}
              <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="control-label">Никнейм</label>
      <input class="form-control" value="{{ form.username.value|default_if_none:'' }}" name="username" placeholder="" type="text">
      {% if 'username' in form.errors %}
          {% for error in form.username.errors %}
            <div class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
      {% endif %}
    </div>
      
    <div class="form-outline mb-4">
      <label class="control-label">Email</label>
      <input class="form-control" value="{{ form.email.value|default_if_none:'' }}" name="email" placeholder="" type="email">
      {% if 'email' in form.errors %}
        {% for error in form.email.errors %}
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
      
    <div class="form-outline mb-4">
      <label class="control-label">Пароль</label>
      <input class="form-control" name="password1" placeholder="" type="password">
      {% if 'password1' in form.errors %}
        {% for error in form.password1.errors %}
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>
      
    <div class="form-outline mb-4">
      <label class="control-label">Повторите пароль</label>
      <input class="form-control" name="password2" placeholder="" type="password">
      {% if 'password2' in form.errors %}
        {% for error in form.password2.errors %}
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <!--
      фотка
      <input type="file" class="form-control" id="customFile" />
      <label class="form-label" for="form3Example90">Upload avatar</label>
    -->
    <div class="d-flex justify-content-end pt-3">
      <button type="submit" class="btn btn-primary btn-lg ms-2" value="Complete Registration!">Зарегистрироваться</button>
    </div>
  </form>
  
</div>
{% endblock %}