{% extends 'layout/base.html' %}

{% block content %}
<div class="col-9">
    <div class="mt-3 p-3 d-flex flex-row border bg-light bg-gradient rounded">
        <div>
            <h2>Уведомления</h2>
        </div>
        <div class="px-3 d-flex flex-row">
            <form action="{% url 'notifications:all' %}">
                <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">Все</button>
            </form>
            <form action="{% url 'notifications:unread' %}">
                <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">Непрочитанные</button>
            </form>
            <form action="{% url 'notifications:sent' %}">
                <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">Отправленные</button>
            </form> 
            <form action="{% url 'notifications:mark_all_as_read' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">Прочитать все</button>
            </form> 
        </div>
    </div>
    {% for n in notifications %}
    <div class="card text-dark bg-light mb-3 mt-3">
        <div class="row g-0">
            <div class="col-md-4">
                <p class="card-text">{{ n.created_at }}</p>
                <p class="card-text">{{ n.read_at }}</p>
            </div>
            <div class="col-md-8 d-flex flex-column">
                <div class="p-3">
                    <h5 class="card-title"><a href="{{ n.question.get_absolute_url }}" class="href">{{ n }}</a></h5>
                </div>
                {% if not n.read_at %}
                <div>
                    <form action="{% url 'notifications:mark_as_read' n.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" data-mdb-ripple-color="dark">Прочитано</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="col-3">
    {% include 'layout/tags.html' %}          
</div>
{% endblock %}