{% extends 'layout/base.html' %}

{% block content %}
<div class="col-4"></div>

<div class="mt-3 mb-3 p-3 col-4 rounded border bg-light border-1 row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <h2 class="text-center">Добро пожаловать, {{ user.username }}!</h2>
  <hr class="border border-2 border-primary">
  <p>Ваш аккаунт был успешно зарегистрирован.</p>
  <p>Теперь вы можете войти.</p>
    <form action="{% url 'users:login' %}">
      <div class="d-flex justify-content-center pt-3">
        <button type="submit" class="btn btn-primary btn-lg ms-2">Войти</button>
      </div>
    </form>
</div>
{% endblock %}